## Build a Web App using a Regression model to learn about UFO sighting

In [11]:
import pandas as pd
import numpy as np

ufos = pd.read_csv('./data/ufos.csv')
ufos.head()

,datetime,city,state,country,shape,duration (seconds),duration (hours/min),comments,date posted,latitude,longitude
0,10/10/1949 20:30,san marcos,tx,us,cylinder,2700.0,45 minutes,This event took place in early fall around 194...,4/27/2004,29.883056,-97.941111
1,10/10/1949 21:00,lackland afb,tx,NaN,light,7200.0,1-2 hrs,1949 Lackland AFB&#44 TX. Lights racing acros...,12/16/2005,29.384210,-98.581082
2,10/10/1955 17:00,chester (uk/england),NaN,gb,circle,20.0,20 seconds,Green/Orange circular disc over Chester&#44 En...,1/21/2008,53.200000,-2.916667
3,10/10/1956 21:00,edna,tx,us,circle,20.0,1/2 hour,My older brother and twin sister were leaving ...,1/17/2004,28.978333,-96.645833
4,10/10/1960 20:00,kaneohe,hi,us,light,900.0,15 minutes,AS a Marine 1st Lt. flying an FJ4B fighter/att...,1/22/2004,21.418056,-157.803611

In [12]:

ufos = pd.DataFrame({'Duration': ufos['duration (seconds)'], 'City': ufos['city'],'Latitude': ufos['latitude'],'Longitude': ufos['longitude']})

# Drop rows with missing values
ufos.City.unique()
ufos.head()


# 0 au, 1 ca, 2 de, 3 gb, 4 us

   Duration                  City   Latitude   Longitude
0    2700.0            san marcos  29.883056  -97.941111
1    7200.0          lackland afb  29.384210  -98.581082
2      20.0  chester (uk/england)  53.200000   -2.916667
3      20.0                  edna  28.978333  -96.645833
4     900.0               kaneohe  21.418056 -157.803611

In [13]:
ufos.dropna(inplace=True)

ufos = ufos[(ufos['Duration'] >= 1) & (ufos['Duration'] <= 60)]

ufos.info()

<class 'pandas.core.frame.DataFrame'>
Index: 29360 entries, 2 to 80330
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Duration   29360 non-null  float64
 1   City       29360 non-null  object
 2   Latitude   29360 non-null  float64
 3   Longitude  29360 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1.1+ MB

In [14]:
from sklearn.preprocessing import LabelEncoder

ufos['City'] = LabelEncoder().fit_transform(ufos['City'])

ufos.head()

    Duration  City   Latitude   Longitude
2       20.0  1668  53.200000   -2.916667
3       20.0  2621  28.978333  -96.645833
14      30.0  5015  35.823889  -80.253611
18      20.0   759  32.364167  -64.678611
23      60.0  9665  45.582778 -122.352222

In [15]:
from sklearn.model_selection import train_test_split
Selected_features = ['Duration','Latitude','Longitude']

X = ufos[Selected_features]
y = ufos['City']

#Encode the City column
label_encoder = LabelEncoder()
ufos['City'] = label_encoder.fit_transform(ufos['City'])


X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=0)

In [16]:
# Complete the model training here
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, classification_report
from sklearn.neural_network import MLPClassifier
import pickle


# model = LogisticRegression(max_iter=1000)  #max_iter = 1000, since both 100 and 500 iterations returned "STOP: TOTAL NO. of ITERATIONS REACHED LIMIT. Logistic regression"
# model.fit(X_train, y_train)
# predictions = model.predict(X_test)

#One hot encode the target variable
# num_classes = len(np.unique(y))
# y_train = to_categorical(y_train, num_classes=num_classes)
# y_test = to_categorical(y_test, num_classes=num_classes)


model = MLPClassifier(hidden_layer_sizes=(64, 3), activation='relu', solver='adam', max_iter=10)

model.fit(X_train, y_train)

/opt/anaconda3/lib/python3.11/site-packages/sklearn/neural_network/_multilayer_perceptron.py:686: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (10) reached and the optimization hasn't converged yet.
  warnings.warn(

MLPClassifier(hidden_layer_sizes=(64, 3), max_iter=10)

In [17]:
import pickle


model_filename = 'ufo-model.pkl'
pickle.dump(model, open(model_filename,'wb'))

model = pickle.load(open('ufo-model.pkl','rb'))
print(model.predict([[50,60,-12]]))

[5137]

/opt/anaconda3/lib/python3.11/site-packages/sklearn/base.py:439: UserWarning: X does not have valid feature names, but MLPClassifier was fitted with feature names
  warnings.warn(

In [18]:
pwd

'/Users/sofiacascaiscosta/Documents/Training/AI Engineering/Week 2/Day 5/lab-model-deployment'